section {
	padding-top: 5rem;
}

body{
	min-height: 3500px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #a2d9ff;
}

#Wisata{
  background-color: #a2d9ff;
}

#Kuliner{
 background-color: #a2d9ff;
}

/* WISATA */
.wisata-section.card.card-img-top{
	height: 200px;
	width: 100%;
	object-fit: cover;
}

/* KULINER */
.kuliner-section.card.card-img-top footer {
	height: 200px;
	width: 100%;
	object-fit: cover;
	background-color: #a2d9ff;
}


@media screen and (max-width: 768px) {
.kuliner-section.card.card-img-top{
	height: 100px;

  }

 